body {
    font-family: Arial, sans-serif;
    background-color: #f0e6d6;
    color: #333;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tournament {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group {
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.group h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.group ul {
    list-style: none;
    padding: 0;
}

.group ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}
.two-columns {
    columns: 2; /* Distribute the list items into two columns */
    -webkit-columns: 2; /* For Safari and Chrome */
    -moz-columns: 2; /* For Firefox */
}

.two-columns li {
    margin-bottom: 10px; /* Adjust spacing between list items */
}
